@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a,
  button {
    -webkit-tap-highlight-color: transparent;
  }

  nav,
  footer {
    @apply px-8 py-4;
  }

  #__next {
    @apply flex min-h-screen flex-col;

    & > main {
      @apply flex-1 px-8 py-6 pt-36 md:pt-28;
    }
  }
}

@layer components {
  .tab {
    @apply rounded-lg transition focus:ring-offset-background focus-visible:outline-none
           focus-visible:ring-2 focus-visible:ring-accent focus-visible:ring-offset-2;
  }
}
